<%- include('header')%>
    <h2>
        New Vacancy:
        <a href="/admin/vagas">Vacancies</a>
    </h2>
    <div>
        <form method = "POST">
        <div class="form-group">
            <label>Title:</label>
             <input name="title" type="text" class="form-control  is-invalid " placeholder="" value ="<%= form.title %>">                        
                    <% if(errors.indexOf('title') >= 0) { %>
                    <div class="invalid-feedback">
                        Please provide a title
                    </div>
                    <% } %>
            </div>
            <br>
            <div class="form-group">
            <label> Description:</label>
            <textarea name="description" class="form-control is-invalid" placeholder="" ><%= form.description %></textarea>
                <% if(errors.indexOf('description') >= 0) { %>
                <div class="invalid-feedback">
                    Please provide a description
                </div>
                <% } %>
            </div>
            <br>
            <label>Category:</label>
            <select name = "category">
                <% locals.categories.forEach(category => { %>
                <option value = "<%= category.id %>"><%= category.category %></option>
                <% }) %>
            </select>
            <br>
            <button>Save vacancy</button>
        </form>
    </div>
<%- include('footer') %>